flows.json
[
    {
        "id": "753fcd7d7e7d9108",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e877a1846f585010",
        "type": "mqtt in",
        "z": "753fcd7d7e7d9108",
        "name": "",
        "topic": "codigoIoT/G8/mosquitto/msg",
        "qos": "2",
        "datatype": "auto",
        "broker": "a2917b539783f4e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 60,
        "wires": [
            [
                "665d2887b754e9b5"
            ]
        ]
    },
    {
        "id": "665d2887b754e9b5",
        "type": "json",
        "z": "753fcd7d7e7d9108",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 60,
        "wires": [
            [
                "9935a71422101ced",
                "287ccb594bea616f"
            ]
        ]
    },
    {
        "id": "9935a71422101ced",
        "type": "function",
        "z": "753fcd7d7e7d9108",
        "name": "",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 60,
        "wires": [
            [
                "761537ea275281bc"
            ]
        ]
    },
    {
        "id": "287ccb594bea616f",
        "type": "debug",
        "z": "753fcd7d7e7d9108",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "761537ea275281bc",
        "type": "ui_chart",
        "z": "753fcd7d7e7d9108",
        "name": "",
        "group": "c0a8a9f84f5553ce",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatura de los alumnos",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "45",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "66561c55ca6f34c8",
        "type": "inject",
        "z": "753fcd7d7e7d9108",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"Sofia\",\"temp\":20}",
        "payloadType": "str",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "d4520aa1af0f50cf"
            ]
        ]
    },
    {
        "id": "d4520aa1af0f50cf",
        "type": "mqtt out",
        "z": "753fcd7d7e7d9108",
        "name": "",
        "topic": "codigoIoT/G8/mosquitto/msg",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a2917b539783f4e3",
        "x": 460,
        "y": 240,
        "wires": []
    },
    {
        "id": "a2917b539783f4e3",
        "type": "mqtt-broker",
        "name": "35.157.252.226",
        "broker": "35.157.61.99:1883",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c0a8a9f84f5553ce",
        "type": "ui_group",
        "name": "Grupo Graficas",
        "tab": "95f9b3d9e95a831d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "95f9b3d9e95a831d",
        "type": "ui_tab",
        "name": "Flow 4",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]